In [1]:
import pandas as pd

In [2]:
flawer=pd.read_csv("Iris.csv")

In [3]:
flawer.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
flawer.shape

(150, 6)

In [5]:
flawer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [6]:
flawer.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
x=flawer[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]

In [8]:
y=flawer['Species']

In [9]:
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [10]:
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
#sc=StandardScaler()
#X_train=sc.fit_transform(X_train)
#X_test=sc.fit_transform(X_test)

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
cls=LogisticRegression(random_state=0)
cls.fit(X_train,y_train)

LogisticRegression(random_state=0)

In [17]:
y_pred=cls.predict(X_test)
y_pred

array(['Iris-versicolor', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor'], dtype=object)

In [18]:
y_test

53     Iris-versicolor
41         Iris-setosa
81     Iris-versicolor
46         Iris-setosa
39         Iris-setosa
142     Iris-virginica
4          Iris-setosa
34         Iris-setosa
48         Iris-setosa
67     Iris-versicolor
138     Iris-virginica
19         Iris-setosa
29         Iris-setosa
28         Iris-setosa
139     Iris-virginica
134     Iris-virginica
2          Iris-setosa
56     Iris-versicolor
1          Iris-setosa
119     Iris-virginica
109     Iris-virginica
68     Iris-versicolor
64     Iris-versicolor
72     Iris-versicolor
58     Iris-versicolor
85     Iris-versicolor
96     Iris-versicolor
120     Iris-virginica
16         Iris-setosa
132     Iris-virginica
113     Iris-virginica
147     Iris-virginica
111     Iris-virginica
52     Iris-versicolor
0          Iris-setosa
110     Iris-virginica
149     Iris-virginica
103     Iris-virginica
43         Iris-setosa
79     Iris-versicolor
128     Iris-virginica
122     Iris-virginica
66     Iris-versicolor
59     Iris-versicolor
63     Iris-versicolor
Name: Species, dtype: object

In [19]:
from sklearn.metrics import accuracy_score

In [20]:
ac=accuracy_score(y_test,y_pred)
ac

0.9777777777777777

In [21]:
import pickle

In [24]:
pickle.dump(cls, open('fla.pkl','wb'))

In [26]:
model=pickle.load(open('fla.pkl','rb'))

In [29]:
z1=[[5.1,3.5,1.4,0.2]]

In [30]:
out=model.predict(z1)
out

array(['Iris-setosa'], dtype=object)